* {
  padding: 0px;
  margin: 0px;
}

body { 
  font-family: sans-serif;
  color: rgba(225, 224, 232, 0.93);
}

sdpi-select{
  outline-color: none;
  border: 0;
  margin-bottom: 20px;
}

#separate-field{
  margin-bottom: 20px;
}

h3{
  font-size: 1.1rem;
  padding-top: 10px;
  padding-bottom: 15px;
}

p{
  font-size: 0.8rem;
  padding-bottom: 5px;
  padding-top: 15px; 
  letter-spacing: 0.7px;
}